body{
    font-family: 'Dosis', sans-serif
}

#vanta{
    width: 100%;
    height: 100vh;
}

.main{
    text-align: center;
    padding-top: 28vh; 
}

#main-heading{
    font-size: 3rem;
    line-height: 1.3;
}

/* button */

.about-modal-btn{
    background-color: white;
    /* transition: .3s ease; */
    border-radius: 20px;
    border: none;
    padding: 10px 35px;
    margin:10px 30px;
    animation-name: animateBtn;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
    transition: transform .3s;
    
   
}
.about-modal-btn:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2);
}

.project-modal-btn{
    transition: .2s ease;
    border-radius: 20px;
    background: none;
    border: 2px solid white;
    padding: 9px 35px;
    outline: none;
}

.project-modal-btn:hover{
    font-size: 1.2em;
    outline: none;
}

/* //Container info */

.download{
    display: inline;
}